<div class="login-wrapper">
  <div class="login-box">
    <h2>Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <div class="input-group">
        <label>Email</label>
        <input type="text" formControlName="user_name" placeholder="Enter your username" />
        <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="error">
          Valid username is required
        </div>
      </div>

      <div class="input-group">
        <label>Password</label>
        <div class="password-wrapper">
          <input [type]="hidePassword ? 'password' : 'text'" formControlName="password" placeholder="Enter your password" />
          <button type="button" (click)="togglePasswordVisibility()">👁️</button>
        </div>
        <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="error">
          Password is required
        </div>
      </div>
      <div >
          <a routerLink="/register-user">Sign up?</a>
        </div>

      

      <button type="submit" class="login-button">Login</button>
    </form>
  </div>
</div>
